.main-form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.main-form input{
    border-radius: 20px;

}

.main-form label{
    font-weight: bold;

}
.submit-btn{
    width: 80%;
    border-radius: 20px;
}


.stage-container img{
    max-height : 200px !important;
}