

.option{
    padding : 5px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #d3d9df;
    border: 1px solid #fff;
    border-radius: 10px;
}

.option:hover{
    background-color: #c6c8ca;
}
